$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

//NAV

.nav {
  list-style: none;
  margin: 0;
  background: #337ab7;

  display: flex;
  justify-content: flex-end;
  flex-flow: row wrap;
}

.nav a {
// gets rid of lines under links*/
  text-decoration: none;
  display: block;
  padding: 14px;
  color: white;
  font-size: 18px;
}

.nav a:hover {
  background: white;
  color: #337ab7;
}

@media all and (max-width: 800px) {
  .nav {
    justify-content: space-around
  }
}

@media all and (max-width: 600px) {
  .nav {
    flex-flow: column wrap;
    padding: 0;
  }

  .nav a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }

// The last li tag does not have a border bottom */
  .nav li:last-of-type a {
    border-bottom: none;
  }

  .text-vertical-center h1 {
    font-size: 1em;
  }
}
//*NAV END*/


// TITLE OF EACH SECTION
.name-title {
  color: #ffffff;
}

.job-title {
  color: #ffffff;
  font-size: 50px;
}

#about-me-title {
  color: #ffffff;
}

#my-work-top {
  color: #ffffff;
}

// QUOTE
.quote {
  line-height: 50px;
}

// PORTFOLIO SECTION
.portfo-titles {
  color: #ffffff;
}

.repo-buttons {
  color: #000000;
}

// MEDIA QUERIES
@media (max-width: 601px) {
  .text-vertical-center h1 {
    font-size: 4em;
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .text-vertical-center h3  {
    font-size: 2.5em;
  }
}

@media (max-width: 460px) {
  #contact {
    margin-top: 10px;
  }
}

@media (max-width: 550px) {
  .text-vertical-center h1 {
    font-size: 3.5em;
  }
}

@media (max-width: 479px) {
  .text-vertical-center h1 {
    font-size: 3em;
  }
}

@media (max-width: 415px) {
  .text-vertical-center h1 {
    font-size: 2.5em;
  }
}
